<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    {% block header %}
    
    {% endblock header %}
</head>
<body>
    <ul>
        <li><a href="{% url "diary:all_subjects" %}">My subjects</a></li>
        <li><a href="{% url "diary:all_homework" %}">My homework</a></li>
        <li><a href="{% url "diary:create_subject" %}">add subject</a></li>
    </ul>
    {% block content %}
    
    {% endblock content %}
</body>
</html>