{% extends "diary/base.html" %}
{% load static %}

{% block title %}Homework{% endblock title %}

{% block content %}
    <h2>Homework</h2>
    <ul>
        {% for homework in object_list %}
        <li id="li_{{ homework.id }}">{{ homework.subject}}: {{ homework.title }} <b>{{ homework.status }}</b> {{ homework.deadline }} <button class="done_btn" id="{{ homework.pk }}">DONE</li>
        {% endfor %}
    </ul>

<script src="{% static "diary/homework_status.js" %}"></script>
{% endblock content %}
